.box {
    margin-top: 40rpx;
    background-color: white;
    border-radius: 10rpx;
    padding: 20rpx 0;

    >.box-row {
        padding: 15rpx 35rpx;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20rpx;
        align-items: center;

        >.box-title {
            color: #B7B6B9;
            font-size: 35rpx;
        }
    }
}

.button {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}