.confirm-signup-page {
    background-color: white;
    padding: 20rpx;
}

.signup-form {
    margin-top: 40rpx;

    .form-title {
        font-size: 35rpx;
        margin-bottom: 15rpx;
        display: block;
        font-weight: bold;
    }

    .form-input-row {
        padding: 25rpx 0;
        font-size: 35rpx;

        .input-title {
            margin-bottom: 25rpx;
            display: block;
        }

        >Input {
            padding-bottom: 25rpx;
            border-bottom: 1px solid #eee;
        }
    }
}